img{
    width: 40px;
    height: 40px;
    padding-left: 5px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
.nav-menu{
    display: flex;
    gap: 15px;
    font-size: 25px;
    list-style: none;
    font-weight: bold;
}

.nav-logo{
    display: flex;
    gap: 15px;

}

.nav-logo p {
    font-size: 20px;
    font-weight: bold;
}
button{
   font-size: 15px;
   border: 2px solid black;
   height: 35px;
   width: 70px;
   background-color: green;
   color: white;
}