img{
    width: 40px;
    height: 40px;
    padding-left: 5px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    box-shadow: 0 1px 3px -2px black;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 25px;
    list-style: none;
    font-weight: bold;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background:red ;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 15px;

}

.nav-logo p {
    font-size: 20px;
    color : #171717;
    font-weight: 600px;
}
.nav-login-cart button{
   font-size: 15px;
   border: 2px solid black;
   height: 35px;
   width: 70px;
   background-color: green;
   outline: none;
   color: white;
   border-radius: 75px;
   cursor: pointer;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
    cursor: pointer;
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;

}
